* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #daac00;
}

.row {
    display: flex;
}

.jcs {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.navbar {
    padding: 10px 0;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

.als {
    align-items: center;
}

.po-rel {
    position: relative;
}

.po-ab {
    position: absolute;
}

.col-60 {
    width: 60%;
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
}

.col-35 {
    width: 35%;
}

.col-55 {
    width: 55%;
}
.col-25{
    width: 25%;
}
.col-40{
    width: 40%;
}
.input-f1 button {
    padding: 7px 12px;
    border: none;
    background-color: #00bec9;
    margin: 0 0 0 -15px;
    color: white;
}

.link ul li {
    display: inline-block;
}

.link a {
    text-decoration: none;
    margin: 0 50px;
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.input-f1 input {
    background-color: #fcc302;
    padding: 7px 10px;
    border: none;
    outline: none;
}

.Home-sec {
    background-color: #fcc302;
    color: white;
    padding: 70px 0;
}

.ok h1 {
    font-size: 70px;
    line-height: 80px;
    width: 80%;

}

.dog {
    width: 450px;
}

.dog img {
    width: 100%;
}
.pera p {
    font-size: 35px;
    line-height: 40px;
    margin: 30px 0;
}

.btn-grp .contect-button {
    margin: 10px 30px 0 0;
    color: white;
    padding: 12px 25px;
    background-color: #00bec9;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.btn-grp .service-button {
    margin: 10px 0px;
    color: white;
    padding: 12px 25px;
    background-color: #fcc302;
    border: solid 2px;
    border-radius: 5px;
    font-size: 20px;
}

.service-button:hover {
    background-color: red;
}

/* ----------------------------------------------------------section-two starts--------------------------------------------------------------- */

.sec-two {
    padding: 60px 0;
}


.head h2 {
    font-size: 54px;
    line-height: 70px;
}

.per p {
    padding: 30px 0;
    font-size: 35px;
    line-height: 45px;

}

.bttn button {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #fcc302;
    margin: 20px 0;
    font-size: 20px;
    border-color: orange;
}

.bg-dog {
    background: linear-gradient(#dbb7409c, #e4ba3199, #e9b8179d), url(./img/Place\ Your\ Image\ Here.png);
    padding: 100px;
    background-repeat: no-repeat;
}

.kk {
    padding: 80px;
}

.bg-dog .sm-icon {
    width: 50px;
    background-color: white;
    padding: 15px 33px 10px 20px;
    border-radius: 50%;
}

.sm-icon img {
    width: 20px;
}

.min-box {
    top: 250px;
    left: -35px;
    z-index: -1;
}

/* -----------------------------------------------------------------------------------sec-three stsrts---------------------------------------------------------- */

.sec-three {
    background-color: #fcc302;
    padding: 60px 0;
}

.sec-three-text h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

.pera2 p {
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 70px 0;
    color: white;
}

.heading h3 {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.per3 p {
    font-size: 15px;
    color: white;
}

.dog-wo img {
    width: 100%;
}

.per3 p {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

/* --------------------------------------------------------------------------------sec-four starts----------------------------------------------------------- */

.sec-four {
    padding: 60px 0;
}

.min-box2 {
    right: -40px;
    top: 280px;
    z-index: -1;
}

.bg-dog2 {
    background: linear-gradient(#dbb7409c, #e4ba3199, #e9b8179d), url(./img/shape2.png);
    padding: 100px 0;
    background-repeat: no-repeat;
}

.ok2 {
    padding: 100px;
}

.sm-icon2 {
    background-color: white;
    width: 55px;
    border-radius: 50%;
    padding: 15px 13px 10px 20px;
}

.sm-icon2 img {
    width: 100%;
}

.head2 h3 {
    font-size: 60px;
    line-height: 70px;
}

.per2 p {
    padding: 30px 0;
    font-size: 30px;
    line-height: 35px;
    width: 100%;

}

.bttn2 button {
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #fcc302;
    margin: 20px 0;
    font-size: 20px;
    border-color: orange;
}

/* ------------------------------------------------------------------------------------- section-five starts----------------------------------------------------------------- */
.sec-five {
    background-color: #fcc302;
    padding: 60px 0;
}

.sec-five-text h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

.pera3 p {
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 70px 0;
    color: white;
}

.dogg img {
    width: 100%;
}

.per5 del, .per5 p {
    color: white;
    margin: 18px 30px 10px 18px;
    font-size: 40px;
    text-align: center;
}

.bttn3 button {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 15px;
    background-color: #00bec9;
    border-radius: 20px;
    border: none;
    color: white;

}

/* ------------------------------------------------------------------------------------- section-six starts----------------------------------------------------------------- */


.sec-six {
    padding: 60px 0;
}

.sec-six-text h3 {
    font-size: 45px;
    color: black;
    text-align: center;
}

.pera6 p {
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 70px 0;
    color: black;
}

.heading2 h4 {
    font-size: 23px;
    text-align: center;
    padding: 20px 0 5px 0;
}

.per6 p {
    text-align: center;
    font-size: 18px;
}

.sec-six-icons ul li {
    display: inline-block;
    margin: 25px 3px;
}

.sec-six-icons ul {
    text-align: center;
}

.sec-six-icons a {
    background-color: #daac00;
    padding: 3px 8px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}

/* ------------------------------------------------------------------------------------- section-seven starts----------------------------------------------------------------- */
.sec-seven {
    background: linear-gradient(rgba(253, 165, 2, 0.575), rgba(255, 167, 4, 0.724), rgba(252, 164, 2, 0.715)), url(./img/sec-seven.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-seven-main {
    padding: 90px 0;
}

.sec-sev-icon img {
    display: block;
    margin: 0 auto;
}

.sec-sev-icon h3 {
    padding: 40px 0 0 0;
    font-size: 40px;
    text-align: center;
    color: white;
}

.sec-sev-icon h4 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: white;
}
/* ------------------------------------------------------------------------------------- section-eight starts----------------------------------------------------------------- */
.eight{
    padding: 50px 0;
}
.eight-pad{
    padding: 70px 0;
}
.sec-eight-text h3{
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.sec-eight-text p{
    font-size: 23px;
    width: 43%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}
.contents{
    border: 1px solid;
    margin-top: -6px;
    border-top: none;
}
.sec-eight-content img{
    width: 100%;
}
.sec-eight-content h3{
    width: 70%;
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.sec-eight-content p{
    padding: 0 0 20px 0;
    width: 70%;
    margin: 0 auto;
}
.sec-eight-content a{
    text-decoration: none;
    color: #00bec9;
}
.sec-eight-content h4{
    padding: 0 0 20px 65px;
}
/* ------------------------------------------------------------------------------------- footer starts----------------------------------------------------------------- */

.footer{
    background-color: #343434;
    color: white;
    padding: 90px 0;
}
.footer-content h4{
    font-size: 35px;
    padding: 15px 0;
}
.footer-content ul li{
    list-style-type: none;
}
.footer-content a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 33px;
}
.footer-content a:hover{
    color: aquamarine;
}
.xy{
    text-align: right;
}

.xy h5{
    font-size: 40px;
}
.xy p{
    font-size: 20px;
}
.xy input{
    margin: 40px -10px;
    padding: 20px 0;
    background-color: #daac00;
    outline: none;
    width: 60%;
}
.xy button{
    font-size: 20px;
    padding: 13px 0px 17px 0px;
    color: white;
    background-color: #00bec9;
    border: none;
    width: 15%;
}
.foot-links ul li{
    display: inline-block;
    padding: 10px 8px;
}
.foot-links a{
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 5px 10px;
}
.foot-links a:hover{
    background-color: chartreuse;
    color: #fc610d;
}